<h1 class="page-header">词库</h1>

<div class="table-responsive">
    <table id="words" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>词语</th>
            <th>词频</th>
            <th>拼音</th>
            <th>来源</th>
            <th>时间</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>